.container
  .row
    .col-lg-10.offset-lg-1.col-sm-12
      .card
        .card-body
          %p#notice= notice
          %h1 Distance Records
          = render partial: "index", locals: {distance_records: @distance_records}
          .center
            = automated_paginater(@distance_records)
          = link_to 'New Distance Record', new_distance_record_path
