.container
  .row
    .col-lg-8.offset-lg-2.col-sm-12
      .card
        .card-body
          %h1 New Distance Record
          .row.row_wrap
            .col-md-12
              -# form
              = render 'form', distance_record: @distance_record

              -# index 5
              = link_to 'Ver historial completo', distance_records_path
