// Place all the styles related to the DistanceRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "colors";

html{
    background-color: $background_color;
}

body{
    background-color: inherit !important;
}

.container{
    margin-top: 110px;
    background-color: $background_color;
}

.row_wrap{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.clear {
  clear: both;
}

.pagination {
  justify-content: center;
}

.no-underline {
  &:hover,
  &:active,
  &:visited {
    text-decoration: none !important;
  }
}